/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ------------------------ */
/* GENERAL STYLES */
/* MAIN COLOR: #40c057
GRAY COLOR:#adb5bd */

/* ------------------------ */

:root {
  --color-main: #40c057;
  --color-main-light: #69db7c;
  --color-main-dark: #2f9e44;

  --color-gray-light: #ced4da;
  --color-gray-dark: #868e96;

  --color-dark: #343a40;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-size: inherit;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 400;
  color: var(--color-dark);
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 28.2em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 25em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

h1 {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--color-main);
  text-align: center;
}

h3 {
  font-size: 2.4rem;
}

.header__desc {
  font-size: 2.4rem;
  color: var(--color-gray-dark);
  text-align: center;
}

.container {
  border-radius: 1.2rem;
  margin: 2rem auto;
  max-width: 120rem;
  padding: 3rem 3rem 1rem 3rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  column-gap: 3rem;
  background-color: #fff;
}

@media only screen and (max-width: 43.75em) {
  .container {
    grid-template-columns: 1fr;
  }
}

.header {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 43.75em) {
  .header {
    grid-column: 1 / span 1;
  }
}

.header h1 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.form {
  align-self: center;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(min-content, max-content)) 1fr;
  row-gap: 1.5rem;
  padding: 2rem;
  box-shadow: 0.1rem 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 43.75em) {
  .form {
    grid-column: 1 / span 1;
    margin-bottom: 2rem;
  }
}

.form label {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-main);
  margin-bottom: 0.4rem;
}

.form__time {
  grid-column: 1/2;
}

.form__time input,
.form__sound select,
.form__set input,
.form__rest select {
  border: solid 1px var(--color-gray-light);
  border-radius: 0.5rem;
  padding: 0.2rem;
  height: 2rem;
  width: 80%;
  font-size: 1.2rem;
}

@media only screen and (max-width: 25em) {
  .form__time input,
  .form__sound select,
  .form__set input,
  .form__rest select {
    height: 3rem;
  }
}

.form__sound {
  grid-column: 2/3;
}

.form__set {
}

.form__rest {
  width: 100%;
}

.rest-time {
  width: 80%;
}

.form__button {
  font-family: inherit;
  grid-column: 1/-1;
  margin: 1.2rem auto;
  width: 20rem;
  padding: 0.8rem 0rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: var(--color-main);
  border: none;
  border-radius: 100rem;
  cursor: pointer;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.form__button:hover {
  background-color: var(--color-main-light);
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
}

.form__button:active {
  transform: translateY(2px);
}

.tree-map {
  display: grid;
  align-items: center;
}

@media only screen and (max-width: 43.75em) {
  .tree-map {
    grid-column: 1 / span 1;
  }
}

.tree-map__img {
  max-height: 20rem;
  max-width: 100%;
  margin: 0 auto;
}

.tree-map__planted {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--color-main-dark);
}

.message {
  margin-top: 5rem;
  grid-column: 1 / span 2;
  justify-self: center;
  font-size: 2.4rem;
  margin-bottom: 0rem;
  text-align: center;
}

@media only screen and (max-width: 43.75em) {
  .message {
    grid-column: 1 / span 1;
  }
}

.audio {
  grid-column: 1 / span 2;
  margin: 2rem auto;
  justify-self: center;
}

.timer {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
  color: var(--color-gray-dark);
  margin-bottom: 8rem;
}

@media only screen and (max-width: 43.75em) {
  .timer {
    grid-column: 1 / span 1;
    margin-bottom: 5rem;
  }
}

.timer__counter-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.timer__counter {
  position: relative;
  display: inline-block;
  width: 19rem;
  background-color: #fff;
  font-size: 6.4rem;
  color: var(--color-main-dark);
  z-index: 100;
}

.timer__rest-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.timer__rest {
  position: relative;
  display: inline-block;
  width: 6rem;
  font-size: 1.8rem;
  color: var(--color-gray-dark);
  transition: all 0.2s;
  transform: translateY(2rem);
  z-index: 1;
}

.timer__rest--active {
  transform: translateY(-0.2rem);
}

.footer {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  row-gap: 0.8rem;
  grid-column: 1 / span 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2rem);
}

@media only screen and (max-width: 43.75em) {
  .footer {
    grid-column: 1 / span 1;
  }
}
.footer__social {
  display: flex;
  align-items: center;
}

.footer__social svg {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

.footer__social .link:link,
.footer__social .link:visited {
  font-size: 1.2 rem;
  text-decoration: none;
}

.footer__social .link:hover,
.footer__social .link:active {
  cursor: pointer;
  color: var(--color-gray-light);
}

.footer__desc {
  font-size: 1.4rem;
  justify-self: end;
  align-self: center;
}

.footer__desc span {
  color: #f03e3e;
}
